{% extends 'main.html' %}

{% block title %}Gestão de Pecuária{% endblock %}

{% block content %}

<body>
    <h1>dsadasdsad</h1>
    <form>
        <div class="mb-3">
            <label class="form-label" for="inputUsername">Username</label>
            <input class="form-control" id="inputUsername">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</body>
</html>
{% endblock %}